@import url('https://gitmurf.github.io/Roam-Dracula-Pro/better-dark-age.css');

/* Block ref and page link search box */
.bp3-elevation-3 {
  max-height: 500px !important;
  width: 100% !important;
  max-width: 100% !important;
  left: -6px !important; /* This moves the search box back to left in line with the bullets so doesn't overflow when towards right edge of screen */
}

  .rm-autocomplete-result {
      word-break: unset;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

/* Highlight the bullet results from page link refs to standout from parent bullets */
div.rm-reference-item .roam-block-container.block-bullet-view {
  /*background-color: rgba(211,211,211,0.08) !important;*/
  font-size: 16px !important;
  /*font-weight: bold !important;*/
  color: yellow !important;
}

div.rm-reference-item div.rm-zoom.zoom-mentions-view .rm-zoom-item-content span {
  color: #ffffff54 !important;
}

div.rm-reference-item div.rm-zoom.zoom-mentions-view .rm-zoom-item-content span a {
  color: #8aff8091 !important;
}

div.rm-reference-item div.rm-zoom.zoom-mentions-view .rm-page-ref.rm-page-ref-tag {
  color: #1aa3ac91 !important;
}

div.rm-reference-item div.rm-zoom.zoom-mentions-view .rm-page-ref.rm-page-ref-link-color {
  color: #9580ff94 !important;
}

/* Hide right sidebar close button */
div#right-sidebar > div.flex-h-box {
  display: none !important;
}

/* Roam42 button to close to right edge of page */
.roam-topbar {
    padding-right: 20px !important;
}
/* FIlter button was kind of high and to the left */
.roam-topbar .bp3-icon-filter {
    margin-top: 4px !important;
    margin-left: -3px !important;
}

input::selection {
  color: black !important;
}

/* Padding is set to 6, so this offsets so doesn't shift text when you click into block */
.rm-block-input {
    margin-left: -6px;
  	background-color: #2b26409c;
}

.rm-block-ref:hover {
    background-color: unset;
    border-bottom: unset;
}

/* Block ref format to be more subtle with just side borders */
.rm-block-ref, .roam-block .rm-block-ref,
span[style*="color: red"] {
  	color: white !important;
    border-bottom: none !important;
    border-right-color: #9580ff !important;
    border-right-width: 1px !important;
    border-right-style: groove;
    padding-right: 5px !important;
    border-left-color: #9580ff !important;
    border-left-width: 1px !important;
    border-left-style: groove;
    padding-left: 5px !important;
}

/* Rounded TODO checkboxes */
.checkmark {
	border-radius: 50% !important;
}
.check-container {
vertical-align: top !important;
top: 5.5px !important;
margin-bottom: 0px !important;
padding-bottom: 0px !important;
}
div.roam-table label.check-container {
  top: 2px !important;
}

/* get rid of the weird SPAN background color in attribute table cells */
div.roam-table span[style*="position: absolute; opacity: 0.1; background-color: rgb(14, 90, 138); top: 0px; bottom: 0px; right: 0px; left: 0px;"] {
  background-color: unset !important;
}

/* From railscast for allowing images to resive full width
  .hoverparent[style*="width: 720px;"] {
    width: 90% !important;
  }
  .react-resizable[style^='width: 720px;'] {
    width: 100% !important;
  }
*/

.rm-find-or-create-wrapper:focus-within {
  flex: 0 1 80% !important;
}
.bp3-overlay-open ul.bp3-menu .rm-menu-item li > span {
  max-height: 42px !important;
  word-break: break-word !important;
  overflow: hidden !important;
  display: inline-block !important;
}

.bp3-overlay-open ul.bp3-menu .rm-menu-item li {
  list-style-type: none !important;
}

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css?family=Inter|Nunito|Commissioner|Fira+Code|Bitter');

:root {
  /* FONTS */
  --global-font             : 'Nunito', sans-serif; /* 'Nunito', sans-serif; is what Abhay prefers*/
  --global-font             : 'Commissioner', sans-serif; /* Abhay changed to this around oct 18th */
  --global-font             : 'Inter', sans-serif; /* This is supposedly the Roam default font... looks nice on Dark Theme */
  --secondary-font          : 'Fira Code', monospace; /* I thought this wasn't too bad as a monospace font*/
  --header-font             : 'Bitter', serif;
  --header-font             : 'Fira Code', monospace;
  /* WIDTH FIXES - default 568px,1032px - increase to increase WIDTH */
  --reduce-padding-right    : 3400px;
  --reduce-padding-left     : 3400px;
  /* COLORS (HT: Jack Laing for [[Dracula Pro]] color theme) */
  --page-links              : #9580FF;
  --attributes-color        : #FFFF80;
  --external-links          : #8AFF80;
  --links-hover             : #F2F2F2;
  --hashtags                : #FE7FBF;
  --body-text               : #F2F2F2;
  --italics-color           : #92FFFF;
  --bold-color              : #FF9580;
  --highlight-text-color    : #1B1A23;
  --highlighter             : #FFFF80;
  --background              : #1B1A23;
  --sidebar-background      : #2B2640;
  --sidebar-text            : #F2F2F2;
  --page-heading            : #9580FF;
  --daily-heading           : #9580FF;
  --headings                : #F2F2F2;
  --bullets                 : #7C6EAD;
  --closed-bullets          : #7c6eada1; /*#313340 */
  --references              : #7C6EAD;
  --block-reference-text    : #FFFF80;
  --namespaces              : #81FFEA;
  --all-pages-mentions      : #FF9580;
  --cursor                  : #F2F2F2;
  --icons                   : #7C6EAD;
  --icons-hover             : #81FFEA;
  --filter-icon             : #8AFF80;
  /* FONT SIZES */
  --main-font-size          : 1em;
  --page-head-font-size     : 2.2em;
  --h1-font-size            : 2em;
  --h2-font-size            : 1.6em;
  --h3-font-size            : 1.2em;
  --sidebar-h1-size         : 2.2em;
  /* DROPDOWN MENU */
  --dropdown-menu-background: #2B2640;
  --dropdown-menu-highlight : #1B1A23;
  --dropdown-menu-text      : #F2F2F2;
  --dropdown-newpage        : #9580FF;
  /* SEARCH BAR */
  --search-bar-background   : #1B1A23;
  --search-bar-text         : #F2F2F2;
  /* KANBAN CARD COLORS */
  --kanban-main-background  : #1B1A23;
  --kanban-column-background: #2A2C37;
  --kanban-card-background  : #1B1A23;
  --kanban-text-hover       : #81FFEA;
  /* SPM ADDED */
  --dayOfWeek-font-color    : #d3d3d3ab;
  --dayOfWeek-font-size     : 14px;
  --block-highlight-color   : rgba(211,211,211,0.15);
  --selection-highlight-color: rgba(178,183,55,0.44);
  --selection-color: white;
}
